---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import QueHay from '../components/QueHay.astro';
import ArepaWeek from '../components/ArepaWeek.astro';
import Products from '../components/Products.astro';
import Pago from '../components/Pago.astro';
import Contacto from '../components/Contacto.astro';
---

<Layout title="Aretáz">
	<main class="flex items-center flex-col w-full h-dvh bg-white ">
		<h1 class="text-2xl my-3 text-[#ff4d07] font-bold">Aretaz</h1>
		<section class="flex relative flex-col items-center w-[95%] h-[85%] bg-[#f4ead2] rounded-xl shadow-inner overflow-y-auto">
			<Header />
			<QueHay />
			<ArepaWeek />
			<Products />
			<Pago />
			<Contacto />
			<footer class="w-full flex justify-between items-center">
				<div class="px-6">
					<span>Desarrollado por ArkaDev</span>
				</div>
				<figure class="w-[150px]">
					<img src="/tazFooter.png" alt="Tazmania tomando pedido">
				</figure>
			</footer>
		</section>
		<figure class="flex justify-center items-center loader absolute bottom-[-10px]">
			<img src="/btnArepta.png" alt="arepa" class="w-16 relative z-20">
		</figure>
	</main>
</Layout>


<style>
.loader {
  width: 100px;
  height: 100px;
}

.loader:before , .loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  transform: translate(-50% , -100%)  scale(0);
  animation: push_401 2s infinite linear;
}

.loader:after {
  animation-delay: 1s;
}

@keyframes push_401 {
  0% , 50% {
    transform: translate(-50% , 0%)  scale(1)
  }

  100% {
    transform: translate(-50%, -100%) scale(0)
  }
}

</style>
