---

---
<section class="flex flex-col items-center w-full bg-[#fca975] text-center py-7">
      <h2 class="text-5xl mb-4 text-[#ff4d07] pb-1 underline">Contacto</h2>
      <figure class="w-10/12">
            <img src="/tazContacto.png" alt="taz en llamada">
      </figure>
      <p class="my-3">Telefonos: 3001234567 - 3001234568</p>
      <a class="w-[150px] bg-[#009b49] h-[50px] my-3 flex items-center justify-center rounded-xl cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-[#009b49] before:to-[rgb(105,184,141)] before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-xl hover:before:left-0 text-[#fff]" href="wa.me/+549113000000">
            WhatsApp
      </a>
</section>