---
---


      <article class="w-full h-1/2 absolute top-0">
            <div class="w-full h-1/2 bg-[#ff4d07]"></div>
            <div class="w-full h-1/2 bg-[#ffc721]"></div>
      </article>
      <figure class="relative w-3/4 md:w-1/4">
            <img src="/headerTazImg.png" alt="Taz Header" />
      </figure>
      <div class="flex justify-center flex-col items-center relative top-[-10%]">
            <h2 class="my-stroke-first  text-8xl text-[#e5b79a] font-bold border-red-500">Aretaz</h2>
            <span class="text-3xl text-[#ff4d07]">Deliciosas arepas rellenas</span>
      </div>
      <div class="relative top-[-8%]">
            <a class="w-[150px] bg-[#009b49] h-[50px] my-3 flex items-center justify-center rounded-xl cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-[#009b49] before:to-[rgb(105,184,141)] before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-xl hover:before:left-0 text-[#fff]" href="wa.me/+549113000000">
                  Contactar
            </a>
            <a class="w-[150px] bg-[#ff4d07] h-[50px] my-3 flex items-center justify-center rounded-xl cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-[#d5b045] before:to-[#e5b79a] before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-xl hover:before:left-0 text-[#fff]" href="wa.me/+549113000000">
                  Ver menu
            </a>
      </div>


<style>
	.my-stroke-first {
		-webkit-text-stroke: 1px #ff4d07;
	}

</style>