---
---
<section class="w-full  text-center p-3">
      <h2 class="text-6xl my-3 text-[#ff4d07]">Como puedo pagar?</h2>
      <p class="mt-8">Realizar pago al numero <u>3001234567</u></p>
      <div class="text-3xl flex my-9 flex-wrap w-full">
            <p class="w-1/2">-En efectivo</p>
            <p class="w-1/2">-Nequi</p>
            <p class="w-1/2">-Daviplata</p>
            <p class="w-1/2">-TransfiYa</p>
      </div>
      <p class="text-2xl text-[#d5b045]">Recuerda enviar el comprobante de pago al Whatsapp de Aretáz</p>
</section>